*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu{
    list-style: none;
    padding: 0%;
    background: goldenrod;
    width: 100%;
    max-width: 1500px;
    margin: 0%;
}

.menu li a{
    text-decoration: none;
    color: brown;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: pink;
}

body {
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}


section#principal{
    height: 145vh;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#informacion {
    height: 145vh;
    background-color: lightcyan;
    padding-bottom: 100px;
    padding-top: 100px;
}

.datos{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.datos-personales{
    border: 5px solid rgb(236, 37, 70);
    border-radius: 15px;
    width: 250px;
    margin: 20px;
    background-color: whitesmoke;

}
   
.datos-personales img{
    width: 100%;
}

.datos-academicos{
    border: 5px solid orange;
    border-radius: 15px;
    width: 250px;
    margin: 20px;
    background-color: whitesmoke;

}
.datos-academicos img{
    width: 100%;
}

.datos-laborales{
    border: 5px solid orangered;
    border-radius: 15px;
    width: 250px;
    margin: 20px;
    background-color: whitesmoke;
}
.datos-laborales img{
    width: 100%;
}

.datos-proyectosrealizados{
    border: 5px solid red;
    border-radius: 15px;
    width: 250px;
    margin: 20px;
    background-color: whitesmoke;
}
.datos-proyectosrealizados img{
    width: 100%;
}

section#contacto {
    height: 50vh;
    background-color: lightgoldenrodyellow;
}

.formulario {
    padding-top: 50px;
    color: red;
    margin-left: 200px;
    margin-right: 200px;
}



footer{
    list-style: none;
    padding: 0%;
    background: goldenrod;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    color: brown;
    text-align: center;

  
}











































